body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
}

path{
    stroke-width: 1px;
}

#eyes{
    stroke: red;
}
#faceStructure{
    stroke: brown;
}
#mouth{
    stroke: red;
}
#thirdEye{
    stroke: blue;
    /* fill: white; */
}
#nose{
    stroke: brown;
}